django
gunicorn
django-heroku
corpora
nltk=3.4
warnings
numpy
random
string
wikipedia
collections
urllib3
json
requests
datetime
operator
csv
telegram.ext
requests
re
logging
telegram
alpha_vantage.timeseries
sklearn.feature_extraction.text
sklearn.metrics.pairwise
